.phonenav {
  @include Reaponsive(tablet) {
    display: block;
  }
  display: none;
  width: 100%;
  background-color: $color-bg;
  z-index: 20;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2rem 0 0 0;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem 2.5rem 2rem;
    &-items {
      @include centerizeTag();
      flex-direction: column;
      gap: 0.5rem;
    }
    &-item {
      @include at-max(371px) {
        font-size: 1.5rem;
      }
      color: white;
      font-size: 1.7rem;
    }
    &-icon {
      @include at-max(371px) {
        font-size: 2rem;
      }
      color: white;
      font-size: 2.5rem;
    }
  }
}
