//* Tournaments Section Styles
.tournaments {
  margin-top: 2.5rem;
  &__content {
    width: $main-width;
    margin: 0 auto;
    &-main {
      @include Reaponsive(laptop) {
        display: block;
      }
      width: 100%;
      @include centerizeTag(space-between, flex-start);
      margin-top: 2rem;
    }
    &-left {
      @include Reaponsive(laptop) {
        width: 100%;
      }
      width: 73%;
      height: 100%;
    }
  }
  &__battle {
    @include Reaponsive(laptop) {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
    padding: 2.5rem;
    background-color: $color-primary;
    border-radius: 1rem;
    width: 100%;
    @include centerizeTag(space-between);
    &-left {
      @include Reaponsive(laptop) {
        width: 100%;
      }
      width: 60%;
      height: 100%;
    }
    &-right {
      @include Reaponsive(laptop) {
        width: 100%;
      }
      width: 35%;
      height: 100%;
    }
    &-header {
    }
    &-title {
      color: $color-white;
      margin-bottom: 0.5rem;
    }
    &-subtitle {
      color: $color-green;
      font-size: 1.3rem;
      font-weight: bold;
    }
    &-teams {
      @include centerizeTag(space-between);
      margin-top: 5rem;
    }
    &-team {
    }
    &-flag {
      @include centerizeTag();
      width: 11rem;
      height: 11rem;
      border-radius: 100%;
      box-shadow: 0 0 3rem $color-shaddow;
      &--1 {
        background-image: conic-gradient(#ff2b28 25%, #e73bf3 0);
      }
      &--2 {
        width: 15rem;
        height: 15rem;
        background-image: conic-gradient(red 25%, blue 0);
      }
      &--3 {
        background-image: conic-gradient(#eca819 25%, blue 0);
      }
    }
    &-circle {
      @include centerizeTag();
      width: 95%;
      height: 95%;
      border-radius: 100%;
      &--1 {
        background: radial-gradient(
          circle,
          #9c091c 0,
          #e31c3b 50%,
          #323676 100%
        );
      }
      &--2 {
        background: radial-gradient(
          circle,
          #0658c6 0,
          #0c678a 50%,
          #000307 100%
        );
      }
      &--3 {
        background: radial-gradient(
          circle,
          #eca819 0,
          #eca819 50%,
          #000307 100%
        );
      }
    }
    &-img {
      width: 50%;
      object-fit: cover;
    }
    &-info {
      margin-top: 2.5rem;
      @include centerizeTag();
      flex-direction: column;
      gap: 0.5rem;
    }
    &-name {
      color: $color-white;
      font-weight: bold;
    }
    &-count {
      color: $color-subtitle;
      font-size: 1.3rem;
      font-weight: bold;
    }
    &-sword {
      width: 8%;
    }
    &-bar {
      width: 100%;
      height: 1.5rem;
      background-color: $color-bg;
      border-radius: 1.5rem;
      margin-top: 3rem;
    }
    &-percent {
      width: 70%;
      background: linear-gradient(120deg, yellow 0, #e4ec7f 50%, #ffffb7 70%);
      border-radius: 1.5rem;
      height: 100%;
      font-size: $font-size-sm;
      @include centerizeTag();
    }
    &-thead {
      width: 100%;
      @include centerizeTag(space-between);
      height: 3.5rem;

      &-icon {
        width: 3.5rem;
        height: 100%;
        border-radius: 0.5rem;
        background-color: $color-secondry;
        color: $color-white;
        @include centerizeTag();
        font-size: $font-size-default;
        &:hover {
          cursor: pointer;
        }
      }
      &-group {
        width: 75%;
        height: 100%;
        background-color: $color-secondry;
        @include centerizeTag();
        color: $color-white;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
    &-body {
    }
    &-items {
      margin-top: 1.5rem;
    }
    &-item {
      height: 5rem;
      @include centerizeTag(space-between);
      padding: 1rem 1.5rem;
      background-color: $color-bg;
      border-radius: 0.5rem;
      margin-top: 0.5rem;
      transition: all 0.08s ease-in;
      &.active {
        background-color: $color-red;
        .tournaments__battle-number,
        .tournaments__battle-scores {
          background-color: $color-red-dark;
        }
      }
      &:hover {
        background-color: $color-red-light;
        cursor: pointer;
        .tournaments__battle-number,
        .tournaments__battle-scores {
          background-color: $color-red-dark;
        }
      }
    }
    &-kings {
      @include centerizeTag(flex-start);
      gap: 1rem;
      height: 100%;
    }

    &-number,
    &-scores {
      width: 3rem;
      height: 100%;
      background-color: $color-primary;
      @include centerizeTag();
      color: $color-white;
      border-radius: 0.3rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
    &-rate {
      @include centerizeTag();
      gap: 1rem;
      height: 100%;
    }
    &-image,
    &-coins {
      width: 2.3rem;
      object-fit: cover;
    }
    &-nameteam,
    &-count {
      color: $color-white;
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
  &__info {
    &-item {
      @include centerizeTag(space-between);
      @include Reaponsive(laptop) {
        gap: 1.05rem;
      }
      margin-top: 2rem;
      padding: 2rem;
      border-radius: 1rem;
      background-color: $color-primary;
      position: relative;
      overflow: hidden;
    }
    &-more {
      &:hover {
        cursor: pointer;
      }
    }
    &-game {
      @include centerizeTag(flex-start);
      @include Reaponsive(laptop) {
        width: 100%;
      }
      gap: 1rem;
    }
    &-image {
    }
    &-pic {
      @include Reaponsive(laptop) {
        width: 5rem;
      }
      width: 8rem;
    }
    &-des {
      @include centerizeTag(center, flex-start);
      flex-direction: column;
      gap: 0.5rem;
    }
    &-team {
      @include Reaponsive(laptop) {
        font-size: 2rem;
      }
      @include Reaponsive(tablet) {
        font-size: 1rem;
      }
      text-wrap: nowrap;
      color: $color-white;
      font-weight: bold;
    }
    &-count {
      @include Reaponsive(laptop) {
        font-size: 1.5rem;
      }
      color: $color-subtitle;
      font-size: $font-size-sm;
    }
    &-name {
      @include centerizeTag();
      @include Reaponsive(laptop) {
        gap: 0.1rem;
        width: 92%;
        align-items: start;
      }
      flex-direction: column;
      gap: 1rem;
      position: relative;
      &::before {
        @include Reaponsive(laptop) {
          display: none;
        }
        content: "";
        width: 0.1rem;
        height: 8rem;
        background-color: $color-subtitle;
        position: absolute;
        left: -5rem;
        transform: rotate(20deg);
      }
    }
    &-key {
      @include Reaponsive(laptop) {
        font-size: 1.7rem;
      }
      color: $color-white;
      font-weight: bold;
    }
    &-value {
      @include Reaponsive(laptop) {
        font-size: 1.5rem;
      }
      color: $color-subtitle;
      font-weight: bold;
    }
    &-percent {
      width: 5rem;
    }
    &-bg1 {
      @include Reaponsive(laptop) {
        clip-path: polygon(3.5rem 0px, 100% 0px, 100% 100%, 0px 100%);
      }
      @include Reaponsive(tabletL) {
        width: 12rem;
        clip-path: polygon(3.9rem 0px, 100% 0px, 100% 100%, 0px 100%);
      }
      @include Reaponsive(tablet) {
        width: 13rem;
        clip-path: polygon(3.4rem 0px, 100% 0px, 100% 100%, 0px 100%);
      }
      @include Reaponsive(phoneL) {
        width: 10rem;
        clip-path: polygon(3.9rem 0px, 100% 0px, 100% 100%, 0px 100%);
      }
      @include Reaponsive(phone) {
        width: 6rem;
      }
      width: 15rem;
      height: 100%;
      background: linear-gradient(
        110deg,
        $color-purple-dark 0,
        $color-purple-dark 27%,
        $color-purple 27%,
        $color-purple 100%
      );
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(4.5rem 0px, 100% 0px, 100% 100%, 0px 100%);
      @include centerizeTag();
      font-weight: bold;
      color: $color-white;
      font-size: $font-size-title;
      font-family: $font-rubik;
      &.bg2 {
        background: linear-gradient(
          110deg,
          $color-secondry-light 0,
          $color-secondry-light 27%,
          $color-secondry 27%,
          $color-secondry 100%
        );
      }
      &-text {
        @include Reaponsive(phone) {
          display: none;
        }
      }
    }
    &-more {
      width: 100%;
      padding: 2rem 0;
      @include centerizeTag();
      color: $color-white;
      font-size: $font-size-default;
      font-weight: bold;
      background-color: $color-secondry;
      margin-top: 1rem;
      border-radius: 1rem;
    }
  }
  &__closing {
    @include Reaponsive(laptop) {
      width: 100%;
      margin-top: 2rem;
    }
    width: 25%;
    height: 100%;
    background-color: $color-primary;
    border-radius: 1rem;
    padding: 2.5rem;
    &-head {
    }
    &-title {
      @include Reaponsive(laptop) {
        font-size: 2.3rem;
      }
      color: $color-white;
      font-size: $font-size-title;
      margin-bottom: 1rem;
      line-height: 3.5rem;
    }
    &-subtitle {
      color: $color-green;
      font-size: $font-size-default;
      font-weight: bold;
    }
    &-items {
      @include Reaponsive(laptop) {
        display: flex;
        flex-direction: column;
        gap: 5rem;
      }
      margin-top: 3rem;
    }
    &-item {
      margin-bottom: 3.5rem;
    }
    &-teams {
      @include centerizeTag(space-between);
    }
    &-team {
    }
    &-names {
      @include centerizeTag();
      flex-direction: column;
      margin-top: 2.5rem;
    }
    &-name {
      font-size: 2rem;
      font-weight: bold;
      color: $color-white;
      margin-bottom: 0.5rem;
    }
    &-number {
      font-weight: bold;
      font-size: 1.4rem;
      color: $color-subtitle;
    }
    &-score {
      span {
        @include Reaponsive(laptop) {
          top: 0;
        }
        font-size: 2.3rem;
        font-weight: bold;
        font-family: $font-rubik;
        color: $color-white;
        letter-spacing: 0.4rem;
        position: relative;
        top: -3rem;
      }
    }
    &-progress {
    }
    &-btn {
    }
    &-link {
      width: 100%;
      padding: 1.5rem 0;
      @include centerizeTag();
      color: $color-black;
      background: linear-gradient(
        to right,
        #bf953f,
        #fcf6ba,
        #b38728,
        #fbf5b7,
        #aa771c
      );
      cursor: pointer;
      border-radius: 0.5rem;
      font-weight: bold;
      transition: all 0.2s ease-in;
      &:hover {
        background: linear-gradient(to right, #facd7b, #fceabb, #e0bd7c);
        letter-spacing: 0.3rem;
      }
    }
  }
}
