//* Colors

//! Main colors
$color-primary: #202938;
$color-secondry: #0761dc;
$color-secondry-light: #367bdb;
$color-tertiary: #ff04ab;

//! Other colors
$color-bg: #111a23;
$color-white: #fff;
$color-black: #000;
$color-subtitle: #7a7a7a;
$color-filter: #4c5564;
$color-green: rgb(0, 102, 0);
$color-orange: rgb(255, 128, 0);
$color-orange-light: #fda955;
$color-red-dark: #710819;
$color-red: #9b061c;
$color-red-light: #a41b2f;
$color-purple: #d338f8;
$color-purple-dark: #7e30a0;
$color-shaddow: #8383ff;
$color-discount: #ffef00;
//* Font size
$font-size-sm: 1.1rem;
$font-size-default: 1.6rem;
$font-size-title: 2.5rem;
$font-size-lg: 2.1rem;

//* Font Family
$font-sans: "DM Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-rubik: "Rubik", sans-serif;
//* Width
$main-width: 85%;
